<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="AccountID" value="" />
    <add key="AccountToken" value="" />
    <add key="AcceptorID" value="" />
    <add key="ApplicationID" value="" />
    <add key="ApplicationVersion" value="" />
    <add key="ApplicationName" value="triPOSCloud.CSharp" />
    <add key="ExpressXMLEndpoint" value="https://certtransaction.elementexpress.com/"/>
    <add key="ExpressReportingXMLEndpoint" value="https://certreporting.elementexpress.com/"/>
    <add key="triPOSCloudLaneEndpoint" value="https://triposcert.vantiv.com/cloudapi/v1"/>
    <add key="triPOSCloudTransactionEndpoint" value="https://triposcert.vantiv.com/api/v1"/>
    <add key="StoreCardID" value="631522004"/>
    <add key="StoreCardPassword" value="xyz"/>
  </appSettings>
</configuration>